# Dependency folders
/vendor
/node_modules
composer.lock
/projectSrc/vendor/

# Docker volumes
dataDir/
tmp/
logs/

# Env and secrets
.env

# OS and IDE files
.DS_Store
.vscode/
.idea/
*.log

/projectSrc/public/files